.Dashboard {
    display:flex;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    gap: 0px;
    height: 100vh;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #2E2E33;
  }

  h1 {
      color: azure;
  }